<html>
    <head><link rel="stylesheet" href="../styles/styles3.css">
        <script src="../script/script3.js"></script>
    </head>
        <body>
            <main>
                <table>
                    <tr>
                        <td><input type="text" id="numero1"></td> <!--Primer Numero-->
                        <td>
                            <select id="operacion">
                                <option value="+">+</option>
                                <option value="-">-</option>
                                <option value="*">*</option>
                                <option value="/">/</option>
                            </select>
                        </td> <!--Operador + - * %-->
                        <td><input type="text" id="numero2"></td> <!--Segundo Numero-->
                        <td> <button onclick="calcular()">=</button> </td>
                        <td id="resultado"></td> <!--Resultado-->
                    </tr>
                </table>
            </main>
        </body>
</html>